.section.custom-form-container {
  margin: 70px 0 0;
  padding: 0 0 90px;
}

.section.custom-form-container .custom-form-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

/* Layout */
.section.custom-form-container .custom-form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .section.custom-form-container .custom-form-layout {
    flex-direction: row;
  }
}

/* Left Content */
.section.custom-form-container .custom-form-content {
  width: 100%;
}

@media (min-width: 1024px) {
  .section.custom-form-container .custom-form-content {
    width: 50%;
  }
}

/* Form Container */
.section.custom-form-container .custom-form-form {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  padding: 50px;
  box-sizing: border-box;
}

@media (min-width: 1024px) {
  .section.custom-form-container .custom-form-form {
    width: 50%;
  }
}

/* Inputs */
.section.custom-form-container .eds-form-field input {
  width: 100%;
  height: 45px;
  padding: 0 0 0 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-sizing: border-box;
}

.section.custom-form-container .eds-form-field textarea {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-sizing: border-box;
}

/* Submit Button */
.section.custom-form-container button[type="submit"] {
  background-color: #0659d4;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 30px;
  font-weight: 600;
  cursor: pointer;
}

.section.custom-form-container button[type="submit"]:hover {
  background-color: #0647a8;
}

/* Text Content */
.section.custom-form-container .custom-form-content h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #0659d4;
  font-weight: 400;
}

.section.custom-form-container .custom-form-content h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

.section.custom-form-container .custom-form-content p {
  font-size: 16px;
  padding: 10px 0;
}

/* Contact Info */
.section.custom-form-container .custom-form-content h6 {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 12px;
}

.section.custom-form-container .custom-form-content h6 img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}